* {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
  :target {
    scroll-margin-top: 80px;
  }
}
body {
  background: #141C24;
  color: #fff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.3333333333% - 20px);
}

.grid-2 {
  width: calc(16.6666666667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.3333333333% - 20px);
}

.grid-5 {
  width: calc(41.6666666667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.3333333333% - 20px);
}

.grid-8 {
  width: calc(66.6666666667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.3333333333% - 20px);
}

.grid-11 {
  width: calc(91.6666666667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 759px) {
  [class^=grid-] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.3333333333% + 10px);
}

.offset-2 {
  margin-left: calc(16.6666666667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.3333333333% + 10px);
}

.offset-5 {
  margin-left: calc(41.6666666667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.3333333333% + 10px);
}

.offset-8 {
  margin-left: calc(66.6666666667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.3333333333% + 10px);
}

.offset-11 {
  margin-left: calc(91.6666666667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.row::after, .row::before {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1200px) {
  .header {
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    max-width: 100%;
  }
}

.header-menu {
  z-index: 99;
  position: relative;
  max-width: 1150px;
  background-color: transparent;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 18px 0px;
}
@media screen and (max-width: 1200px) {
  .header-menu {
    background-color: #202B37;
    padding: 18px 10px 18px 0px;
  }
}
.header-menu .header-logo {
  margin: 0px 10px;
}
.header-menu #logo-desktop {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .header-menu #logo-desktop {
    display: none;
  }
}
.header-menu #logo-tablet {
  display: none;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .header-menu #logo-tablet {
    display: block;
  }
}
.header-menu #logo-mobile {
  display: none;
}
@media screen and (max-width: 759px) {
  .header-menu #logo-mobile {
    display: block;
  }
}
.header-menu #menu-hamburguer {
  display: none;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (max-width: 1200px) {
  .header-menu #menu-hamburguer {
    display: block;
  }
}
.header-menu .nav-menu {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
@media screen and (max-width: 1200px) {
  .header-menu .nav-menu {
    flex-direction: row-reverse;
  }
}
.header-menu .nav-menu .active {
  height: calc(100vh - 80px);
  visibility: visible;
  overflow-y: auto;
  display: block;
}
.header-menu .nav-menu ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .header-menu .nav-menu ul {
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background-color: #202B37;
    display: block;
    z-index: 100;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s ease;
  }
}
@media screen and (max-width: 1200px) {
  .header-menu .nav-menu ul li {
    margin-bottom: 10px;
  }
}
.header-menu .nav-menu ul a {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  color: #fff;
  padding: 8px;
  transition: 0.5s ease;
}
@media screen and (max-width: 1200px) {
  .header-menu .nav-menu ul a {
    padding: 10px 20px;
    margin: 0 20px;
    border-left: 2px solid #1A75FF;
  }
}
.header-menu .nav-menu ul a:hover, .header-menu .nav-menu ul a:focus {
  color: #1A75FF;
}
.header-menu .nav-menu #btn-menu {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  background: #1A75FF;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 1.4285714286em;
  font-weight: 600;
  transition: 0.5s ease;
}
.header-menu .nav-menu #btn-menu:hover {
  background-color: #141C24;
}

.home {
  background-color: #202B37;
  margin-top: -80px;
}
@media screen and (max-width: 1200px) {
  .home {
    margin-top: 0px;
  }
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .banner {
    max-width: 100%;
  }
}
@media screen and (max-width: 759px) {
  .banner {
    flex-direction: column-reverse;
  }
}
.banner .banner-description {
  margin: 0px 10px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .banner .banner-description {
    margin: 10px 10px;
  }
}
@media screen and (max-width: 759px) {
  .banner .banner-description {
    margin: 64px 0px;
    padding: 0px 10px;
  }
}
.banner .banner-description h1 {
  font-family: "Inter", sans-serif;
  font-size: 3.75em;
  line-height: 1.2em;
  font-weight: 600;
  padding: 16px 0;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .banner .banner-description h1 {
    padding: 0px;
  }
}
.banner .banner-description p {
  font-family: "Inter", sans-serif;
  font-size: 1.125em;
  line-height: 1.5555555556em;
  font-weight: 500;
  padding-bottom: 40px;
}
.banner .banner-description button {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #1A75FF;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .banner .banner-description button {
    padding: 12px 15px;
  }
}
.banner .banner-description button:hover {
  background: #141C24;
}

.resources-body {
  margin-top: 80px;
}
.resources-body .resources-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px 0px 64px 0px;
}
@media screen and (max-width: 759px) {
  .resources-body .resources-title {
    margin: 16px 10px 64px 10px;
  }
}
.resources-body .resources-title .badge {
  display: flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  text-align: center;
  background: #F0F6FF;
  color: #0052CC;
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 1.4285714286em;
  font-weight: 500;
}
.resources-body .resources-title h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.25em;
  line-height: 1.2222222222em;
  font-weight: 600;
  padding: 10px 0px 12px 0px;
}
.resources-body .resources-title p {
  font-family: "Inter", sans-serif;
  font-size: 1.125em;
  line-height: 1.5555555556em;
  font-weight: 400;
}
@media screen and (max-width: 759px) {
  .resources-body .double {
    display: flex;
    flex-direction: column-reverse;
  }
}
.resources-body .resources-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0px 10px;
}
.resources-body .resources-card .resources-description {
  margin: 0px 10px;
}
@media screen and (max-width: 759px) {
  .resources-body .resources-card .resources-description {
    padding-bottom: 48px;
    margin: 0px;
  }
}
.resources-body .resources-card .resources-description h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.75em;
  line-height: 1.2857142857em;
  font-weight: 600;
  padding-top: 16px;
}
.resources-body .resources-card .resources-description h2 .img-border {
  display: inline-block;
  padding-bottom: 10px;
  background-image: url(..//..//image/resources/underline.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.resources-body .resources-card .resources-description p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  padding: 8px 0px 0px;
}
.resources-body .resources-card .resources-description ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 32px 0px;
}
.resources-body .resources-card .resources-description ul img {
  vertical-align: -35%;
  width: 24px;
}
.resources-body .resources-card .resources-description ul span {
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 1.4285714286em;
  font-weight: 500;
  padding: 0px 8px;
}
.resources-body .resources-card .resources-description a {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  cursor: pointer;
  color: #1A75FF;
}

.features-body {
  padding-top: 80px;
  margin: 0px 10px 16px 10px;
}
.features-body .features-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features-body .features-cards .features-card {
  flex: 1 1 360px;
  padding: 0px 25px 64px 0px;
}
.features-body .features-cards .features-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight: 600;
  padding: 16px 0px 8px 0px;
}
.features-body .features-cards .features-card p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  text-align: left;
}

.depoiment-body {
  padding: 80px 0px;
  margin: 0px 10px;
}
@media screen and (max-width: 1200px) {
  .depoiment-body {
    margin: 0px;
  }
}
.depoiment-body .depoiment-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background: #202B37;
  border-radius: 32px;
  background-image: url(..//..//image/depoiment/bg-depoiment.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 150px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .depoiment-body .depoiment-card {
    max-width: 100%;
    border-radius: 0;
    background-image: none;
    padding: 10px;
  }
}
@media screen and (max-width: 759px) {
  .depoiment-body .depoiment-card {
    max-width: 100%;
    border-radius: 0;
    background-image: url(..//..//image/depoiment/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px 20px;
  }
}
.depoiment-body .depoiment-description {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  padding: 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
@media screen and (max-width: 759px) {
  .depoiment-body .depoiment-description {
    padding: 0px;
  }
}
.depoiment-body .depoiment-description h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight: 500;
  padding-bottom: 16px;
}
@media screen and (max-width: 759px) {
  .depoiment-body .depoiment-description h3 {
    padding-top: 16px;
  }
}
.depoiment-body .depoiment-description .person-name {
  font-family: "Inter", sans-serif;
  font-size: 1.125em;
  line-height: 1.5555555556em;
  font-weight: 600;
}
.depoiment-body .depoiment-description p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

.plans-body {
  margin: 80px auto;
}
.plans-body .plans-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px 0px 40px 0px;
}
.plans-body .plans-title .badge {
  display: flex;
  padding: 2px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  text-align: center;
  background: #F0F6FF;
  color: #0052CC;
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 1.4285714286em;
  font-weight: 500;
}
.plans-body .plans-title h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.25em;
  line-height: 1.2222222222em;
  font-weight: 600;
  padding: 10px 0px 36px 0px;
}
@media screen and (max-width: 759px) {
  .plans-body .plans-title h2 {
    padding: 10px 0px 10px 0px;
  }
}
.plans-body .plans-title .plans-info {
  display: flex;
  padding: 6px 8px;
  align-items: flex-start;
  border-radius: 12px;
  background: #202B37;
}
.plans-body .plans-title .plans-info button {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #202B37;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}
.plans-body .plans-title .plans-info .button-plans-active {
  background-color: #141C24;
  box-shadow: 0px 2px 4px 0px rgba(16, 20, 24, 0.8);
}
.plans-body .plans-description {
  padding-top: 24px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .plans-body .plans-description {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }
}
.plans-body .plans-description .plans-monthly {
  transition: opacity 0.5s ease;
}
@media screen and (max-width: 1200px) {
  .plans-body .plans-description .plans-monthly {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 759px) {
  .plans-body .plans-description .plans-monthly {
    display: inherit;
  }
}
.plans-body .plans-description .plans-annual {
  display: none;
  transition: opacity 0.5s ease;
}
.plans-body .plans-description .opacity-medium {
  opacity: 0.5;
}
.plans-body .plans-description .opacity-total {
  opacity: 1;
}
.plans-body .plans-description .plans-free, .plans-body .plans-description .plans-enterprise, .plans-body .plans-description .plans-premium {
  padding: 32px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .plans-body .plans-description .plans-free, .plans-body .plans-description .plans-enterprise, .plans-body .plans-description .plans-premium {
    flex: 0 0 450px;
    margin-right: 10px;
  }
}
.plans-body .plans-description .plans-free h3, .plans-body .plans-description .plans-enterprise h3, .plans-body .plans-description .plans-premium h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight: 600;
  padding: 16px 0px 4px 0px;
}
.plans-body .plans-description .plans-free p, .plans-body .plans-description .plans-enterprise p, .plans-body .plans-description .plans-premium p {
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 1.4285714286em;
  font-weight: 400;
}
.plans-body .plans-description .plans-free h2, .plans-body .plans-description .plans-enterprise h2, .plans-body .plans-description .plans-premium h2 {
  font-family: "Inter", sans-serif;
  font-size: 3em;
  line-height: 0.625em;
  font-weight: 600;
  padding: 16px 0px 4px 0px;
}
.plans-body .plans-description .plans-free .period, .plans-body .plans-description .plans-enterprise .period, .plans-body .plans-description .plans-premium .period {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}
.plans-body .plans-description .plans-free ul, .plans-body .plans-description .plans-enterprise ul, .plans-body .plans-description .plans-premium ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 16px 0px 28px 0px;
}
.plans-body .plans-description .plans-free ul img, .plans-body .plans-description .plans-enterprise ul img, .plans-body .plans-description .plans-premium ul img {
  vertical-align: -24%;
  width: 20px;
}
.plans-body .plans-description .plans-free ul span, .plans-body .plans-description .plans-enterprise ul span, .plans-body .plans-description .plans-premium ul span {
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 1.4285714286em;
  font-weight: 400;
  padding: 0px 4px;
}
.plans-body .plans-description .plans-free button, .plans-body .plans-description .plans-enterprise button, .plans-body .plans-description .plans-premium button {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  background: transparent;
  color: #fff;
  border: 1px solid #637083;
  cursor: pointer;
}
.plans-body .plans-description .plans-free .active, .plans-body .plans-description .plans-enterprise .active, .plans-body .plans-description .plans-premium .active {
  background: #1A75FF;
  color: #fff;
  border: none;
  transition: 0.5s ease;
}
.plans-body .plans-description .plans-free .active:hover, .plans-body .plans-description .plans-enterprise .active:hover, .plans-body .plans-description .plans-premium .active:hover {
  background: #202B37;
}
.plans-body .plans-description .most-popular {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.plans-body .plans-description .badge {
  display: flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  text-align: center;
  background: #F0F6FF;
  color: #0052CC;
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 1.4285714286em;
}

.footer-content {
  margin: 0 auto;
  padding: 40px 0px 32px 0px;
}
.footer-content h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.125em;
  line-height: 1.5555555556em;
  font-weight: 600;
}
.footer-content a {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
}
.footer-content .products, .footer-content .company, .footer-content .suport {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 759px) {
  .footer-content .products, .footer-content .company, .footer-content .suport {
    padding: 0px 10px 30px 20px;
  }
}
.footer-content .follow-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 759px) {
  .footer-content .follow-us {
    padding: 0px 20px;
  }
}
.footer-content .follow-us .social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.footer-content .follow-us .social-media .apps {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .footer-content .follow-us .social-media .apps {
    flex-direction: column;
  }
}

.copywriting {
  border-top: 1px solid #344051;
  padding: 32px 10px;
}
@media screen and (max-width: 759px) {
  .copywriting {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
.copywriting img {
  float: left;
}
.copywriting p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  float: right;
}
@media screen and (max-width: 759px) {
  .copywriting p {
    padding-top: 10px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
