* {
	margin: 0;
	padding: 0;
	border: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
	  scroll-behavior: smooth;
	}

	:target {
		scroll-margin-top: 80px;
	}
}

body{
	background: $primary-color;
	color: $text-color;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a{
    text-decoration: none;
	color: $text-color;
}

img{
    max-width: 100%;
}
